div.icon-48-ver-referencias {
	background: url('images/icon-48-ver-referencias.png') no-repeat left;
}

div.icon-48-edit-bibtex {
	background: url('images/icon-48-edit-bibtex.png') no-repeat left;
}

div.icon-48-ingresar-referencias {
	background: url('images/icon-48-ingresar-referencias.png') no-repeat left;
}

div.icon-48-categorias {
	background: url('images/icon-48-categorias.png') no-repeat left;
}
